@using Application.Models.Shared
@foreach (var option in Options)
{
    <option value=@option.Value>@option.DisplayValue</option>
}

@if (Error != null)
{
    <div id="bad-request-error" hx-swap-oob="true" hx-swap="innerHTML" class="cursor-pointer toast toast-top toast-center" 
    _="on load wait 0.1s then show then wait 2s then transition opacity to 0 then on click transition opacity to 0">
        <div class="alert alert-error">
            <span>@Error</span>
        </div>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<SelectOptionPrompt> Options { get; set; } = new List<SelectOptionPrompt>();
    [Parameter]
    public string Error { get; set; }
}